<h2 mat-dialog-title *ngIf="action =='Create'">Neue Einrichtung erstellen</h2><h2 mat-dialog-title *ngIf="action=='Update'">Einrichtung bearbeiten</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Geben Sie bitte den Namen, die Adresse und die Art der Einrichtung an.<br />
  </p>
  <div class="example-container">
    <!-- Feld für den Einrichtungsnamen -->
    <mat-form-field hintLabel="Maximal 30 Zeichen" appearance="fill">
      <mat-label>Name der Einrichtung</mat-label>
      <input matInput #input maxlength="30" [(ngModel)]="facilityObj.name">
      <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Maximal 30 Zeichen" appearance="fill">
      <mat-label>Adresse</mat-label>
      <input matInput #input maxlength="30" [(ngModel)]="facilityObj.adress">
      <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <!-- Feld für die Einrichtungsart -->
    <mat-form-field appearance="fill" *ngIf="action == 'Create' ">
      <mat-label>Einrichtungsart</mat-label>
      <mat-select  [(ngModel)]="facilityObj.type.typeName">
        <mat-option *ngFor="let facilityType of facilityTypes" [value]="facilityType.typeName">
          {{facilityType.typeName}}
        </mat-option>
        <!-- <mat-option value="option">{{facValues}}</mat-option> -->
      </mat-select>
      <mat-hint align="end">Wählen Sie eine Einrichtungsart aus</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Verfügbare Kapazität" appearance="fill">
      <mat-label>Geben Sie die Kapazität an:</mat-label>
      <input matInput type="number" [formControl]="selectedFormControl" [(ngModel)]="facilityObj.capacity">
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="End">
  <button mat-raised-button color="primary" mat-dialog-close>Abbrechen</button>
  <button mat-raised-button (click)="chooseFunction()" color="primary" [disabled]=
  "!facilityObj.name || !facilityObj.adress || 
   !facilityObj.type.typeName || !facilityObj.capacity">{{action}}</button>
   
</mat-dialog-actions>