<div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <h1>Hello: <strong>{{(user.Vorname) ? user.Vorname : 'User'}}</strong></h1>
          <p>User ID: <strong>{{user.ID}}</strong></p>
          <p>Email: <strong>{{user.email}}</strong></p>
          <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          <!-- <p>Role: <strong> {{u}}</strong></p>  -->
          <p>Stammeinrichtung: <strong> {{user.Stammeinrichtung}}</strong></p> 
          <p>Role: <strong>{{user.role}}</strong></p>
          <!-- <p *ngIf = "user.roles">Coordinator: <strong>{{user.roles.coordinator}}</strong></p> -->
          <!-- <p *ngIf = "user.roles ==>Admin: <strong>{{user.roles.admin}}</strong></p> -->
        </div>
      </div>
    </div>
  </div>