
    <!-- <mat-form-field class = "form-mail">
        <mat-label>E-Mail angeben:</mat-label>
        <input placeholder="E-Mail" type="text">
      </mat-form-field>

      <mat-form-field class = "form-pw">
        <mat-label>Passwort angeben:</mat-label>
        <input placeholder="PW" type="text">
      </mat-form-field> -->
      <link rel="shortcut icon" href="favicon.ico">
    <div>
        <mat-card-content>
            <form class = "form">

                <div class="inhalt">
                    <h1>Anmelden</h1>
                </div>
                <mat-form-field class ="form-control" appearance="outline">
                    <mat-label> Your email</mat-label>
                    <div class ="form-group">
                        <input matInput type="text" #userName required>
                    </div>
                    
                </mat-form-field>
                <mat-form-field class ="form-control" appearance="outline">
                    <mat-label> Your password</mat-label>
                    <div class ="form-group">
                        <input matInput type="password" class="form-control" 
                        #userPassword required>
                    </div>
                </mat-form-field>
                <mat-label style="color:crimson">{{authService.errorMessage}}</mat-label>
            
                <div class="form-footer">
                        <button mat-raised-button 
                        (click)= "SignIn(userName.value, userPassword.value)" color="primary">
                            Anmelden
                        </button>
                        <button mat-raised-button 
                        (click) = "createCoordinator(userName.value,userPassword.value)"  color="primary"
                        > 
                            Registrieren
                        </button>                 
                </div>
            </form>   
        </mat-card-content>
        
    </div>

<router-outlet></router-outlet>

