<h2 mat-dialog-title>Einrichtung erstellen</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Geben Sie bitte den Namen, die Adresse und die Art der Einrichtung an.<br />
  </p>
  <div class="example-container">
    <!-- Feld für den Einrichtungsnamen -->
    <mat-form-field hintLabel="Maximal 30 Zeichen" appearance="fill">
      <mat-label>Name der Einrichtung</mat-label>
      <input matInput #input maxlength="30" [ngModel]="(facilityX)?.facilityName">
      <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <mat-form-field hintLabel="Maximal 30 Zeichen" appearance="fill">
      <mat-label>Adresse</mat-label>
      <input matInput #input maxlength="30" [ngModel]="(facilityX)?.facilityadress">
      <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <!-- Feld für die Einrichtungsart -->
    <mat-form-field appearance="fill">
      <mat-label>Einrichtungsart</mat-label>
      <mat-select>
        <mat-option *ngFor="let facilityType of facilityTypes" [value]="facilityType.facilitytypeName">
          {{facilityType.facilitytypeName}}
        </mat-option>
        <!-- <mat-option value="option">{{facValues}}</mat-option> -->
      </mat-select>
      <mat-hint align="end">Wählen Sie eine Einrichtungsart aus</mat-hint>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="End">
  <button mat-raised-button color="primary" mat-dialog-close>Abbrechen</button>
  <button mat-raised-button (click)= "createFacility()" color="primary">Erstellen</button>
</mat-dialog-actions>


<!-- <mat-form-field>
    <mat-label>Test</mat-label>
    <textarea matInput [(ngModel)]="cedula" placeholder="ula"> </textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button>OK</button>
    <!-- <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button> -->
<!-- <button mat-button (click)="cancel()">Cancel</button>
    <button
    mat-fab
    color ="primary"
    aria-label="Delete">
    <mat-icon>delete</mat-icon>

</button>
  </div> -->