<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of calendarService.newEvents">
                <mat-form-field appearance="fill">
                    <mat-label>Terminart auswählen</mat-label>
                    <mat-select [(ngModel)]="event.title">
                        <mat-option *ngFor="let evento of calendarService.existingRoleEvents" [value]="evento.title"
                            (click)="getEventData(event, evento)">
                            {{evento.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="event.start"
                                (ngModelChange)="calendarService.refresh.next()">
                            <input matEndDate placeholder="End date" [(ngModel)]="event.end"
                                (ngModelChange)="calendarService.refresh.next()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" class="btn btn-danger"
                        (click)="sendEventToTrainee()">
                        Send to:
                    </button>
                </td>
                <td>
                    <button mat-raised-button color="primary" class="btn btn-danger"
                        (click)="calendarService.deleteSingleEvent(event)" (click)="calendarService.refresh.next()">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
        <button mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.addEvent()">
            Add
        </button>

        <button mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.safeNewEvent()"
            (click)="calendarService.refresh.next()" mat-dialog-close>
            Close
        </button>
    </table>
</div>