<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            <tr *ngFor="let event of calendarService.newEvents">




                <mat-form-field appearance="fill">
                    <mat-label>Terminart auswählen</mat-label>
                    <mat-select [(ngModel)]="event.title">
                        <mat-option *ngFor="let evento of calendarService.existingRoleEvents" [value]="evento.title"
                            (click)="getEventData(event, evento)">
                            {{evento.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <td>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time"
                            [(ngModel)]="event.start">

                        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>

                        <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
                    </mat-form-field>
                   
                    <br>
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time"
                            [(ngModel)]="event.end" [min]="event.start" [value]="event.start">

                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>

                        <ngx-mat-datetime-picker #pickerTo ></ngx-mat-datetime-picker>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" class="btn btn-danger"
                        (click)="sendEventToTrainee(event)">
                        Send to:
                    </button>
                </td>
                <td>
                    <button mat-raised-button color="primary" class="btn btn-danger"
                        (click)="calendarService.deleteSingleEvent(event)" (click)="calendarService.refresh.next()">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
        <button mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.addEvent()">
            Add
        </button>

        <button mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.safeNewEvent()"
            (click)="calendarService.refresh.next()" mat-dialog-close>
            Close
        </button>
    </table>
</div>