<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <button mat-raised-button color="primary" class="btn btn-primary" mwlCalendarPreviousView [view]="view"
        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </button>

      <button mat-raised-button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        color="primary">
        Today
      </button>

      <button mat-raised-button color="primary" class="btn btn-primary" mwlCalendarNextView [view]="view"
        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </button>
      <div class="test">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">
        Month
      </button>
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        Week
      </button>
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        Day
      </button>
    </div>
  </div>
  <br />

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="calendarService.events"
      [refresh]="calendarService.refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="calendarService.events"
      [refresh]="calendarService.refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="calendarService.events"
      [refresh]="calendarService.refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />

  <button class="l_btn" mat-mini-fab color="primary" (click)="openDialog('Create')">
    <mat-icon>
      add
    </mat-icon>
  </button>


  <div *ngIf="isVisible" class="">
    <button  mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.getAllEventsFromAllUser()"
    >
       GetDataFrom User
     </button>
     <button  mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.getOwnData()"
     >
        Own Events
      </button>


 

     <mat-form-field appearance="fill">
       <mat-label>Azubi</mat-label>
       <mat-select >
         <mat-option *ngFor="let trainee of calendarService.traineesInFacility" [value]="trainee" (click)="calendarService.getTraineeEvents(trainee)">
           {{trainee.name}}
         </mat-option>
         <!-- <mat-option value="option">{{facValues}}</mat-option> -->
       </mat-select>
      
     </mat-form-field>
     <mat-form-field appearance="fill">
      <mat-label>EventFilter</mat-label>
      <mat-select >
        <mat-option *ngFor="let event of calendarService.allEventTypes" [value]="event.title" 
        (click)="calendarService.getAllEventsTypes(event)">
          {{event.title}}
        </mat-option>
        <!-- <mat-option value="option">{{facValues}}</mat-option> -->
      </mat-select>
     
    </mat-form-field>
     <mat-dialog-content class="mat-typography">
  </mat-dialog-content>
  <button  mat-raised-button color="primary" class="btn btn-danger" (click)="calendarService.deleteAllEvents()"
  >
     Delete All Events
   </button>
  </div>
</div>
 
