.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 80%;
  }
  
  .example-margin {
   // margin: 0 10px;
    height: 20px; //etwas dynamischeres wählen statt Pixel
  }

  .label {
      width: 20%;
  }

  .capacity_label{
    margin-left: 10px;
    
  }